<!DOCTYPE html>
<html>
  <head>
    <title>ProjectConversationHistory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="p-8">
      <% if notice %>
        <div class="notice mb-4 border border-green-500 bg-green-200 text-green-700 rounded-md px-6 py-2">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert mb-4 border border-red-500 bg-red-200 text-red-700 rounded-md px-6 py-2">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
